* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.one{
    height: 50px;
    width: 50px;
    border: 1px black double;
    text-align: center;
    background-color: pink;
}